body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensures the container is vertically centered */
    margin: 0;
    background: linear-gradient(135deg, #f5f5f5, #e0e0e0); /* Optional background */
}

/* Main Container */
.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
    animation: slideIn 0.5s ease-in-out;
    margin: 20px; /* Optional: Add some margin to prevent edge touching */
}

/* Headings */
h1 {
    color: #FF6347; /* Tomato */
    font-family: "Century Gothic", ui-monospace;
    animation: textFadeIn 1s ease-in-out;
}

/* Labels */
label {
    display: block;
    width: 100%;
    margin: 10px 0 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
    animation: textFadeIn 1s ease-in-out;
}

/* Input Container */
.input-fade {
    animation: inputFadeIn 1s ease-in-out;
}

/* Wrapper */
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: wrapFadeIn 1s ease-in-out;
}